<html>
    <head>
        
    </head>
    <body>
        <div style="display: None">
        {% for item in dates %}
        <div id="new_id_{{loop.index}}">{{item}}</div>
        <div id="id_{{loop.index}}">{{dates[item]}}</div> 
        {% endfor %}
    </div>
    <div width="400", height="400">
    <canvas id="myChart" x></canvas>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script>
    datapoints = []
    for(i=1; i<7;i++){
        console.log('new_id_'+i.toString())
        year = document.getElementById('new_id_'+i.toString()).textContent
        count = document.getElementById('id_'+i.toString()).textContent
        datapoints.push({x: year, y: count })
    }
    var ctx = document.getElementById('myChart');
    Chart.defaults.global.animation.duration = 3000;
    var myChart = new Chart(ctx, {
    type: 'line',
    legend: {
 labels: {
   boxWidth: 0,
 }
},
    data: {
        labels: ["1960", "1970", "1980", "1990", "2000", "2010", ] ,
        datasets: [{
            data: datapoints,
            backgroundColor: 'rgb(63, 191, 63, 0.1)',
            borderColor: 'rgb(63, 191, 63)'
    }],
},

    options: {
        legend: {
            display:false

},
        title: {
           text: 'Earthquakes happening at this location with magnitude greater than 4.0',
             display: true,
             fontSize: 16
        },
        scales: {
            yAxes: [{
                
                scaleLabel : {
                    display: true,
                    labelString: 'Number of Earthquakes'
                }
            }],
            xAxes: [{
               type: 'time',
               display: true,
               scaleLabel: {
                display: true,
                labelString: 'Date'
            },
        }]
    }
}});

let update = ()=> {
    
}
</script>
</html>