<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/d66392e131.js"></script>
    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Street</th>
          <th scope="col">Price Estimate</th>
          <th scope="col">Natural Hazard Score</th>
        </tr>
      </thead>
      <tbody>
        {% for item in info %}
        <tr>
          <td>{{ item["street"] }}</td>
          <td>{{ item["price"] }}</td>
          <td>{{ item["score"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var cali = { lat: 36.7783, lng: -119.4179 };
        // The map, centered at Uluru
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 5,
          center: cali
        });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({
          position: cali,
          map: map,
          icon: {
            url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
          }
        });

        var marker1 = new google.maps.Marker({
          position: { lat: 38.9072, lng: -120.0369 },
          map: map,
          icon: {
            url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
          }
        });

        var marker2 = new google.maps.Marker({
          position: { lat: 40.7128, lng: -122.006 },
          map: map,
          icon: {
            url: "http://maps.google.com/mapfiles/ms/icons/purple-dot.png"
          }
        });

        marker.addListener("click", function() {
          alert("Hello1!");
        });
        marker1.addListener("click", function() {
          alert("Hello2!");
        });
        marker2.addListener("click", function() {
          alert("Hello3!");
        });
      }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYlrDFexF6L0TLdR_yWgplxeouaB0jQYI&callback=initMap"
    ></script>
  </body>
</html>
